<%-include ../include/header.html%>
<form class="form-inline" method="post" action="/user/reg">
    <div class="form-group  col-sm-12">
        <label class="sr-only" for="username">用户名</label>
        用户<input type="text" class="form-control" id="username" placeholder="username" name="username">
    </div>
    <div class="form-group  col-sm-12">
        <label class="sr-only" for="email">邮箱</label>
        邮箱<input type="email" class="form-control" id="email" placeholder="email" name="email">
    </div>
    <div class="form-group  col-sm-12">
        <label class="sr-only" for="password">密码</label>
        密码<input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">注册</button>
</form>
<%-include ../include/footer.html%>