<%-include include/header.html%>
<%articles.forEach(function(article,index){%>
<!--<div class="media">-->
    <!--<div class="media-left">-->
        <!--<a href="#">-->
            <!--<img class="media-object" src="<%=article.username.avatar%>" alt="...">-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="media-body">-->
        <!--<h4 class="media-heading"><a href="/article/detail/<%=article._id%>"><%=article.title%></a></h4>-->
        <!--<%if(article.poster){%>-->
        <!--<img  style='width:250px;height:200px' src="<%=article.poster%>" alt="">-->
        <!--<%}%>-->

        <!--<p><%-article.content%></p>-->
    <!--</div>-->
    <!--<div class="media-bottom">-->
        <!--作者:<span><%=article.username.username%></span>-->
        <!--创建时间:<span><%=article.createAt.toLocaleString()%></span>-->
    <!--</div>-->
<!--</div>-->
<div class="panel panel-default col-sm-4">
    <div class="panel-heading">
        <h3 class="panel-title">
            <h4 class="media-heading"><a href="/article/detail/<%=article._id%>"><%=article.title%></a></h4>
        </h3>
    </div>
    <div class="panel-body">
        <p><%-article.content%></p>
        <%if(article.poster){%>
        <img style='width:250px;height:200px;' src="<%=article.poster%>" alt="">
        <%}%>
    </div>
    <div class="panel-footer">
        <img class="media-object; display: inline-block" src="<%=article.username.avatar%>" alt="...">
        作者:<span><%=article.username.username%></span><br/>
        创建时间:<span><%=article.createAt.toLocaleString()%></span>
    </div>

</div>
<%})%>
<!--页码控制区-->
<nav class="col-sm-12">
    <ul class="pagination">
        <li>
            <a href="?keyword=<%=keyword%>&pageNum=<%=(pageNum>1?pageNum-1:1)%>&pageSize=<%=pageSize%>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <%for(var i=1;i<=totalPage;i++){%>
        <li class="<%=(pageNum==i?'active':'')%>"><a href="?keyword=<%=keyword%>&pageNum=<%=i%>&pageSize=<%=pageSize%>"><%=i%></a></li>
        <%}%>
        <li>
            <a href="?keyword=<%=keyword%>&pageNum=<%=(pageNum<totalPage?pageNum+1:totalPage)%>&pageSize=<%=pageSize%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<%-include include/footer.html%>
